h1 {
  margin-top: 10em;
  font-size: 25px;
  color: #333;
  text-align: center;
}

.left {
  display: inline-block;
  text-align: left;
  width: 49%
}

.right {
  display: inline-block;
  text-align: right;
  width: 49%;

}